" -----------------------------------------------------------------------------
" Use <C-l> to escape
" -----------------------------------------------------------------------------
inoremap <C-l> <Esc>
xnoremap <C-l> <Esc>

" -----------------------------------------------------------------------------
" Use relative line numbering
" -----------------------------------------------------------------------------
set number relativenumber
